.result-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.result span{
    font-weight: bold;
}

.ball {
    border: 1px solid black;
    border-radius: 50%;
}

.errors {
    white-space: pre-wrap;
    color: red;
}
