.zadanie1 {
    text-align: left;
}

.zadanie1 p pre {
    text-align: left;
}

.inputBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.inputBox label {
    font-weight: 500;
}
